<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
  <title>채팅 서비스</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">

  <form class="form-signing" th:action="@{/crew/{crewId}/match (crewId = ${crewId})}" th:object="${matchCreatePostReq}" method= "post">
    <h2 class="form-signing-heading">새로운 경쟁방 생성</h2>
    <label for="matchTitle" class="sr-only">경쟁방 이름</label>
    <input type="text" th:field="*{matchTitle}" id="matchTitle" name="matchTitle" class="form-control" placeholder="경쟁방 이름을 입력해주세요" required autofocus>
    <br>
    <label for="matchMaxPerson" class="sr-only">경쟁방 이름</label>
    <input type="text" th:field="*{matchMaxPerson}" id="matchMaxPerson" name="matchMaxPerson" class="form-control" placeholder="최대 인원수를 입력해주세요" required autofocus>
    <br>
    <label for="matchGoalDistance" class="sr-only">경쟁방 이름</label>
    <input type="text" th:field="*{matchGoalDistance}" id="matchGoalDistance" name="matchGoalDistance" class="form-control" placeholder="목표거리 입력해주세요" required autofocus>
    <br>
<!--    <label for="authorization" class="sr-only">유저 아이디(숫자)</label>-->
<!--    <input type="text" th:field="*{authorization}" id="authorization" name="authorization" class="form-control" placeholder="유저아이디(숫자) 입력해주세요" required autofocus>-->
    <button class="btn btn-primary" type="submit">생성하기</button>
    <button class="btn btn-danger" onclick="form.reset(); history.back()">돌아가기</button>
  </form>
</div>
</body>
<script>
</script>
</html>